body {
  background-color: #FCFAFA;
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #093370;
  font-family: 'The Nautigal', sans-serif;
  font-size: 5rem;
  margin: 30px auto 0 auto;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  font-weight: normal;
  color: #093370;
}

h3 {
  color: #55A9E6;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

a {
  color: #55A9E6;
  line-height: 3;
}

hr {
  border-color: #986C6A;
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 5%;
}

.top_container {
  background-color: #FCFAFAF;
  padding-top: 60px;
  position: relative;
}

.main-img {
  margin-top: -20px;
  width: 25%;
}

.bottom-cloud {
  bottom: 300px;
  left: 240px;
  position: absolute;
  width: 8%;
}

.top-cloud {
  width: 8%;
  position: absolute;
  right: 260px;
  top: 40px;
}

.middle-container {
  background-color: #FCFAFA;
  position: relative;
  padding-top: 100px;
}

.profile {
  padding-bottom: 50px;
  width: 60%;
}

.profile_img {
  width: 20%;
  height: auto;
}

.skills {
  position: relative;
  line-height: 1.7;
  margin: 0 auto;
  padding: 40px 0;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.left-img {
  float: left;
  height: auto;
  margin-right: 30px;
  width: 30%;
}
.right-img {
  float: right;
  height: auto;
  margin-left: 30px;
  width: 30%;
}

.contact-me {
  padding-top: 50px;
  width: 60%;
}

.bottom-container {
  background-color: #093370;
  position: relative;
  padding-bottom: 40px;
  padding-top: 40px;
  color: #FCFAFA;
}

.btn {
  background: #55A9E6;
  background-image: -webkit-linear-gradient(top, #55A9E6, #2a94df);
  background-image: -moz-linear-gradient(top, #55A9E6, #2a94df);
  background-image: -ms-linear-gradient(top, #55A9E6, #2a94df);
  background-image: -o-linear-gradient(top, #55A9E6, #2a94df);
  background-image: linear-gradient(to bottom, #55A9E6, #2a94df);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #FCFAFA;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.button {
  margin: 70px auto 70px auto;
}

.btn:hover {
  background: #093370;
  background-image: -webkit-linear-gradient(top, #093370, #115dd0);
  background-image: -moz-linear-gradient(top, #093370, #115dd0);
  background-image: -ms-linear-gradient(top, #093370, #115dd0);
  background-image: -o-linear-gradient(top, #093370, #115dd0);
  background-image: linear-gradient(to bottom, #093370, #115dd0);
  text-decoration: none;
}
